<head>
    <title> Admin Overview </title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicomatic/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicomatic/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicomatic/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicomatic/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicomatic/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicomatic/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicomatic/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicomatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

</head>

{% extends "base_page.html" %}

{% block middleContent %}
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800">Logs</h1>
</div>

<div class="row">

    <div class="col-3">
        <p style="color:black"> Admin Logs </p>
        {% for i in adminLog %}
            <div class="card mb-2 shadow-lg"> 
                <div class="card-body">
                        <div class="row"> <strong> <p style = "color:black;"> {{ i[0] }} </p> </strong> </div>
                        <div class = "row" style="word-wrap: break-word; color:black; "> {{ i[1] }} </div>
                </div>
            </div>
        {% endfor %}

        <a href="/admin_overview?more={{ request.args['more']|int + 1 }}"> <p> Load more </p> </a>
    </div>

    <div class="col-3">
        <p style="color:black"> Staff Logs </p>

        {% for i in tutorLog %}
        <div class="card mb-2 shadow-lg"> 
            <div class="card-body">
                        <div class="row"> <strong> <p style = "color:black;"> {{ i[0] }} </p> </strong> </div>
                        <div class="row" style="word-wrap: break-word; color:black;"> {{ i[1] }} </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="col-3">
        <p style="color:black"> Student Logs </p>
        {% for i in studentLog %}
        <div class="card mb-2 shadow-lg"> 
            <div class="card-body">
                        <div class="row"> <strong> <p style = "color:black;"> {{ i[0] }} </p> </strong> </div>
                        <div class="row" style="word-wrap: break-word; color:black;"> {{ i[1] }} </div>
                </div>
            </div>
        {% endfor %}

        <a href="/admin_overview?more={{ request.args['more']|int + 1 }}"> <p> Load more </p> </a>
    </div>

    <div class="col-3">
        <p style="color:black"> Other Logs </p>

        {% for i in anonLog %}
        <div class="card mb-2 shadow-lg"> 
            <div class="card-body">
                        <div class="row"> <strong> <p style = "color:black;"> {{ i[0] }} </p> </strong> </div>
                        <div class="row" style="word-wrap: break-word; color:black;"> {{ i[1] }} </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>


{% endblock %}