<!DOCTYPE html>
<html lang="en">
<head>
    <title> Change Password </title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicomatic/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicomatic/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicomatic/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicomatic/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicomatic/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicomatic/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicomatic/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicomatic/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="static/images/favicomatic/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

</head>

{% extends "base_page.html" %}

{% block middleContent %}


<div class="col">

    <div class="card mb-2"> 
        <div class="card-body">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p style = "color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                <form method = 'POST' action = '/change_password'> 
                    <div class = "row">
                        <div class="col-3"> <p> Old Password </p> </div>
                        <div class="col-7"> <input type = "password" id="oldPassword" name="oldPassword"> </div>
                    </div>
                    <div class="row">
                        <div class="col-3"> <p> New Password </p>  </div>
                        <div class="col-7"> <input type = "password" id="newPassword" onkeyup = "samePass()" name="newPassword"> </div>
                    </div>
                    <div class="row"> 
                        <div class="col-3"></div>
                        <div class="col-7">
                            <p class="red" id="errorMessageLength" style="display:none; color:red"> The new password should be at least 8 characters long </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3"> <p> Confirm Password </p>  </div>
                        <div class="col-7"> <input type = "password" id="confirmPassword"  onkeyup = "samePass()"> </div>
                    </div>
                    <div class="row"> 
                        <div class="col-3"></div>
                        <div class="col-7">
                            <p class="red" id="errorMessageMatch" style="display:none; color:red"> The passwords need to match </p>
                        </div>
                    </div>

                    <button type="submit" id="submitButton" class="btn btn-success" style = "display: none;"> Change Password </button>
            </form>

            <script> 
                function samePass() {
                    newPass = document.getElementById("newPassword").value;
                    confirmPass = document.getElementById("confirmPassword").value;
                    
                    if(newPass != confirmPass) {
                        document.getElementById("errorMessageMatch").style.display="inline";
                    }
                    else {
                        document.getElementById("errorMessageMatch").style.display="None";
                    }

                    if(newPass.length < 8 ) {
                        document.getElementById("errorMessageLength").style.display="inline";
                    }
                    else {
                        document.getElementById("errorMessageLength").style.display="None";
                    }


                    if(newPass == confirmPass && newPass.length >= 8 ) {
                        document.getElementById("submitButton").style.display = "inline";
                    }
                    else {
                        document.getElementById("submitButton").style.display = "none";
                    }
                }

            </script>
        </div>
    </div>
</div>

{% endblock %}