/* Three columns side by side */
.column {
    float: left;
    margin-bottom: 16px;
    padding: 0 20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


#column1 {
    width: 15%;
}

#column2 {
    width: 85%;
}


.menuButton {
    height: 40px;
    width: 100%;

    justify-content: left;
    
    color: #fff;
    background: #ff1500;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;


    transition: .2s ease-in;
    cursor: pointer;
}

    .menuButton:hover {
        background: #ff685b;
    }


#nav {
    color:white;
}
